<table class="table">
	<thead>
		<tr>
			<th>{{'panier.user' | trans}}</th>
			<th>{{'panier.produit' | trans}}</th>
			<th>{{'panier.prix' | trans}}</th>
			<th>{{'panier.date' | trans}}</th>
			<th>{{'panier.montant' | trans}}</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for panier in paniers %}
			<tr>
				<td>{{panier.user.prenom}}</td>
				<td></td>
				<td></td>
				<td>{{panier.dataAchat | date('d/m/Y')}}</td>
				<td></td>
				<td></td>
			</tr>
		{% else %}
			<tr>
				<td colspan="7">
					{{'panier.disponible'|trans}}
                </td>
			</tr>
		{% endfor %}
	</tbody>

	<pre>
		{{ dump(paniers) }}
	</pre>
</table>
