<table class="table">
	<thead>
		<tr>
			<th{{'panier.produit' | trans}}</th>
			<th>{{'panier.quantite' | trans}}</th>
			<th>{{'panier.prix' | trans}}</th>
			<th>{{'panier.montant' | trans}}</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for panier in paniers %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		{% else %}
			<tr>
				<td colspan="7">
					{{'panier.disponible'|trans}}
                </td>
			</tr>
		{% endfor %}
	</tbody>
</table>
